/*------------------- 
    Common CSS
-------------------*/

body{

    font-family: Georgia, 'Times New Roman', Times, serif;

}

/*------------------- 
    Header CSS
-------------------*/

h1{

    color: #6563cc;

}

.header{

    margin: 0 auto;
    background-color: #b99ff1;
    line-height: 50px;
    margin: 0 50px;
    text-align: center;

}

span{

    font-family:sans-serif;

}