img{

    margin-top: 30px;
    height: 200px;
    align-items: center;

}

button{

    background-color: #1c19c9b7; /* Green */
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;

}

.winner_grid{

    border-radius: 20px;
    background-color: #892be283;

}

.icon{

    margin: 10px;

}
.icons{

    margin-right: 10px;

}
